<section class="sec1" id="explore">
  <div class="container">
    <div class="row">
      <div class="offset-sm-2 col-sm-8">
        <div class="headerText text-center">
          <h2>¡Un click y a volar!</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Laboriosam iusto sequi dignissimos odit aut deserunt minus fuga
            ad repellat fugiat magnam blanditiis voluptatibus voluptas
            officiis, dolorum asperiores non commodi, alias reiciendis!
            Obcaecati optio eveniet velit qui doloremque fugiat aspernatur
            magni!
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="placeBox">
          <div class="imgBox">
            <img
            src="https://i.imgur.com/G2hi03S.jpg"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="content">
            <h3>Felicidad</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="placeBox">
          <div class="imgBox">
            <img
            src="https://i.imgur.com/gqsdshS.jpeg"
            class="img-fluid"
              alt=""
            />
          </div>
          <div class="content">
            <h3>Desfase</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="placeBox">
          <div class="imgBox">
            <img
              src="https://i.imgur.com/UEdUFZh.jpeg"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="content">
            <h3>Momentos especiales</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
