<section class="sec1">
  <div class="container">
    <div class="headerText text-center">
      <h2>Eventos</h2>
      </div>
      <!-- hacemos un bucle para imprimir eventos -->
          <div class="" *ngFor="let event of eventos">
            <div class="card">
              <img src="{{event.foto}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{event.nombreEvento}}</h5>
                <p class="card-text text-muted">{{event.fecha}}</p>
                <p class="card-text">{{event.descripcionEvento}}</p>
                <p class="card-text">{{event.ubicacionEvento}}</p>
                <p class="card-text">{{event.contactoEvento}}</p>
              </div>
            </div>
          </div>
        </div>
</section>

<div class="container">
  <br>
  <h2>¿Que accion desea realizar?</h2>
  <br>
  <div class="container ">
          <!-- mostramos las diferetes opciones, y en caso de seleccionar una, el valor se envia al ts y muestra su opcion correspondiente -->
          <button type="button" name="button" value="add" (click)="elegirAccion($event)" class="btn btn-outline-info btn-lg btn-block">Registrar evento</button>
          <button type="button" name="button" value="edit" (click)="elegirAccion($event)" class="btn btn-outline-info btn-lg btn-block">Editar evento</button>
          <button type="button" name="button" value="delete" (click)="elegirAccion($event)" class="btn btn-outline-info btn-lg btn-block">Borrar evento</button>
  </div>
</div>

<section class="sec1">

<app-alta-evento *ngIf="(container) === 'anadir'" (emitirDatos)="anadirEvento($event)"></app-alta-evento>

<app-editar-evento *ngIf="(container) === 'editar'" (emitirDatos)="editarEventos($event)"></app-editar-evento>

<div class="container" *ngIf="container === 'borrar'">
    <div class="App">
      <div class="vertical-center">
          <div class="inner-block">
              <form>
                  <h3>Borrar evento</h3>
                  <div class="form-group">
                    <label>Nombre del evento</label>
                    <input type="text" class="form-control" #evento name="evento"  />

                    <div [ngSwitch]="mostrarError">
                      <div *ngSwitchCase="'Introduzca un nombre para el evento'" class="redF">Introduzca un nombre para el evento</div>
                    </div>
                  </div>
                  <button type="button" (click)="borrarEvento(evento.value)" value="Añadir"name="submit" id="submit" class="btn btn-outline-info btn-lg btn-block">Borrar evento</button>
              </form>
          </div>
      </div>
  </div>


  </div>

</section>





