<section class="sec1">
  <div class="container">
    <div class="headerText text-center">
      <h2>Eventos</h2>
      </div>





          <div class="" *ngFor="let event of events">
              <div class="vertical-center">
                <div class="placeBox"  data-toggle="modal" data-target="#evento">
                  <div class="imgBox">
                    <img
                      src="{{event.imagenEvento}}"
                      class="img-fluid"
                      alt=""
                    />
                  </div>
                  <div class="content">
                    <h3>{{event.nombreEvento}}</h3>
                  </div>

              </div>
              <div class="modal fade" id="evento" tabindex="-1" role="dialog" aria-labelledby="evento" aria-hidden="true">
                <br>
                <br>
                <br>
                <br>
                 <div class="modal-dialog" role="document">
                   <div class="modal-content">
                     <div class="modal-header">
                       <h5 class="modal-title" id="exampleModalLabel">{{event.nombreEvento}}</h5>
                       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                         <span aria-hidden="true">&times;</span>
                       </button>
                     </div>
                     <div class="modal-body">
                      <p class="card-text text-dark">{{event.descripcionEvento}}</p>
                      <p class="text-muted card-text">{{event.ubicacionEvento}}</p>
                      <p class="text-muted card-text"> Contacto: {{event.contactoEvento}}</p>
                      <a href="#" class="btn btn-dark">Reservar espacio</a>                     </div>
                     <div class="modal-footer">
                       <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                     </div>
                   </div>
                 </div>
               </div>

          </div>


      </div>
  </div>















</section>

<div class="container">
  <h2>¿Que accion desea realizar?</h2>
  <div class="radio-buttons">
      <label class="radio">
          <input type="radio" name="radio" value="add" (click)="elegirAccion($event)">
          <span class="radio-btn"><i class="fas fa-check"></i>
              <div class="options-icon">
                <i class="fas fa-plus"></i>
                  <h3>Añadir Evento</h3>
              </div>
          </span>
      </label>
      <label class="custom-radio">
          <input type="radio" name="radio" value="edit" (click)="elegirAccion($event)">
          <span class="radio-btn"><i class="fas fa-check"></i>
              <div class="options-icon">
                  <i class="fas fa-edit"></i>
                  <h3>Editar Evento</h3>
              </div>
          </span>
      </label>
      <label class="custom-radio">
          <input type="radio" name="radio" value="delete" (click)="elegirAccion($event)">
          <span class="radio-btn"><i class="fas fa-check"></i>
              <div class="options-icon">
                 <i class="fas fa-trash"></i>
                  <h3>Eliminar Evento</h3>
              </div>
          </span>
      </label>
  </div>
</div>

<section class="sec1">


  <div class="container" *ngIf="container === 'add'">
    <h1>{{accion}}</h1>
    <form class="cf">
      <div class="half left cf">
        <input type="text" id="input-name" #evento placeholder="Evento">
        <input type="text" id="input-subject" #ubicacion placeholder="Ubicación">
        <input type="email" id="input-email" #email placeholder="Email">
        <label><input type="checkbox" id="input-check" #check>Aceptar Condiciones</label>
      </div>
      <div class="half right cf">
        <textarea name="message" type="text" #descrip id="input-message" placeholder="Descripción"></textarea>
        <input type="text" id="input-imagen" #imagen placeholder="Imagen">
      </div>
      <input type="button" (click)="enviarDatosAdd(evento.value, ubicacion.value, email.value, descrip.value, imagen.value, check.value)" value="Añadir" id="input-submit">
    </form>
  </div>

  <div class="container" *ngIf="container === 'edit'">
    <form class="cf">
      <div class="half left cf">
        <input type="text" id="input-name" #evento placeholder="Evento2">
        <input type="text" id="input-subject" #ubicacion placeholder="Ubicación2">
        <input type="email" id="input-email" #email placeholder="Email2">
      </div>
      <div class="half right cf">
        <textarea name="message" type="text" #descrip id="input-message" placeholder="Descripción2"></textarea>
      </div>
      <input type="button" value="Editar" id="input-submit">
    </form>
  </div>

  <div class="container" *ngIf="container === 'delete'">
    <form class="cf">
      <div class="half left cf">
        <input type="text" id="input-name" #evento placeholder="Evento3">
      </div>
      <input type="button" value="Eliminar" id="input-submit">
    </form>
  </div>

</section>





